/* #region Global */

.display-inline                 	{ display:inline-block; }
.right                      		    	{ float:right !important; }
.left                     			{ float:left !important; }
.middle              				{ vertical-align: middle; display: block; text-align: center}
.text-right                     		{ text-align:right !important; }
.text-left                      		{ text-align:left !important; }
.text-middle                    		{ text-align:center !important; }
.btn-big					{ display: inline-block; padding:5px 20px; text-transform: uppercase; font-size: 26px; }

.color-back-pink			{ background-color: pink; }
.color-back-green			{ background-color: #adc214; }
.color-back-light-green		{ background-color: #d6d99e; }
.color-back-light-blue		{ background-color: #b4b9c1; }
.color-back-dark-blue		{ background-color: #43566f; }
.color-back-light-gray		{ background-color: #ccc7c4; }
.color-back-dark-gray		{ background-color: #9c9a99; }
.color-back-red				{ background-color: #d34122; }
.color-back-light-red		{ background-color: #eb9e7d; }

.color-pink					{ color: pink; }
.color-green				{ color: #adc214; }
.color-light-blue			{ color: #b4b9c1; }
.color-dark-blue			{ color: #43566f; }
.color-light-gray			{ color: #ccc7c4; }
.color-dark-gray			{ color: #9c9a99; }
.color-red					{ color: #d34122; }

.page-title					{ height:80px; width: 100%; margin-bottom: 10px; display: inline-table; font-family: Montserrat-Light; }
.page-title-side-container	{ background-color: #43566f; height: 90px; width: 15px; }
.page-title-content			{ margin: 15px; max-width: 60%; text-align: right; font-family: Montserrat-Light; }    

.quotes						{ width: 100%; display: inline-block; letter-spacing: 4px;}
.quotes-container			{ margin: auto; display: block; }
.quote-left	> img			{ position: absolute; right: 0px; top: -10px; }
.quote-right > img			{ position: absolute; left: 0px; }
.quotes-container > .middle	{ padding: 0px;  }
.quotes-text,
.quotes-author				{ font-size: 20px; display: block; margin: 10px auto; float: left; text-transform: uppercase; width: 100%; font-family: Montserrat-Light; }
.quotes-author				{ font-size: 16px; font-family: Montserrat-SemiBold; }

.two-image-banner-section				{ width: 100%; display: inline-block; margin-top: 30px; margin-bottom: 50px; }
.two-image-banner-section	> div		{ height: 500px; float: left; overflow: hidden; width: 49%;}
.two-image-banner-section	> div > img	{ width: 100%; float: left; }
.two-image-banner-section-span-first	{ position: absolute; padding: 5px; padding-left: 20px; bottom: 80px; background-color: #d34122; color: white; width: 230px; max-width: 100%; font-size: 20px; }
.two-image-banner-section-span-second	{ position: absolute; padding: 3px; padding-left: 20px; bottom: 30px; background-color: white; width: 180px; max-width: 100%; font-size: 18px; }

.three-image-banner-section				{ width: 100%; display: inline-block; margin-top: 10px; margin-bottom: 50px; }
.three-image-banner-section	> div		{ height: 400px; float: left; overflow: hidden; width: 32%; }
.three-image-banner-section	> div > img	{ width: 100%; float: left; }
.three-image-banner-section	> div:nth-child(2)	{ margin: 0% 2%; }

.letter-space-big			{ letter-spacing: 8px; }
.letter-space-small			{ letter-spacing: 4px; }

/* #endregion Global */

/* #region Fonts */

@font-face {
	font-family: MinionPro-Regular;
    src: url(fonts/MinionPro-Regular.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.otf);
}

@font-face {
	font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
	font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.otf);
}

/* #endregion Fonts */

/* #region Header */

.header								{ width: 100%; height:200px; }

#brickhaus-menu						{ display: inline-block; list-style-type: none; padding-left: 0px; float: left; z-index: 100; position: absolute; top: 0px; }
.menu-item							{ padding: 5px 20px; background-color: black; color: white; margin: 0px; font-size: 16px; cursor: pointer; font-family: Montserrat-Light; }
h3.menu-item 						{ display: inline-block !important; display: inline-block;}
li.menu-item 						{ padding-left: 40px !important; display: table;}
li.one-line							{ clear: both; display: inline-block; white-space: nowrap; }
#brickhaus-menu	> li > ul				{ padding: 0px; }
#brickhaus-menu > li > ul > li > a 		{ color: white; text-decoration: none }
#brickhaus-menu > li > h3.active,
#brickhaus-menu > li > ul > li.active	{ background-color: red }

.logo								{ position: absolute; top: 106px; left: 25%; right: 25%; }
.logo > a > img						{ display: block; margin-left: auto;  margin-right: auto; max-width: 100%; }

/* #endregion Header */

/* #region Footer */

.footer								{ width: 100%; display: inline-block; margin-top:30px; color: white; }
.footer-content						{ background-color: black; padding: 30px 20px; overflow: auto; }
.footer-content-info > h3			{ margin-bottom: 0px; font-family: Montserrat-Light; }
.footer-content-info-item			{ display: block; margin: 10px 0px; width: 100%; float: left; font-family: Open Sans; }
.footer-content-info-item > hr		{ border-top: 3px solid white; width: 100%; float: left; margin-top: 0px; }
.footer-content-info-social			{ display: block; margin: 10px 0px; float: left; }
.footer-content-info-social	> a > img	{ vertical-align: baseline; padding: 5px; margin-right:5px; }

.footer-content-post-form > h3		{ margin-bottom: 0px; font-family: Montserrat-Light; }
.footer-content-post-form > hr		{ width: 80%; }
.footer-content-post-form-item-short{ display: block; width: 50%; background-color: black; color: white; margin: 20px 0px; padding: 1px 6px; border: 1px solid white; font-family: Open Sans; }
.footer-content-post-form-message	{ display: block; width: 100%; background-color: black; color: white; margin-top: 20px; padding: 1px 6px; resize: none; font-family: Open Sans; }
.footer-content-post-form-button	{ float: right; background-color: #d34122; border: 0px; width: 80px; margin-top: 15px; font-family: Open Sans; }

#footerVerticalLine					{ width: 2px; background-color: white; margin: auto; }

/* #endregion Footer */

/* #region Front Page */

.front-page-banner-section					{ width: 100%; }
.front-page-banner-section > hr				{ border-top: 3px solid black; }
.front-page-banner-content					{ width:100%; height:520px; margin: 30px 0px; background: url("../images/front-page/Slide show1.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.front-page-banner-content					{ width:100%; height:520px; margin: 30px 0px; overflow:hidden; }
.front-page-banner-content > h2				{ position: absolute; margin-top: 400px; margin-left: 40px; color: white; text-transform: uppercase; font-family: Montserrat-Light; line-height: 40px; width: 200px;}
.front-page-banner-wrapper                 		{ width: 100%;}
.front-page-banner                          			{ width: 100%;}
.front-page-banner > img                    			{ width:100%; }
#front-page-banners                         			{ width:100% !important; }

.front-page-content-modern-section			{ min-height: 400px; overflow: hidden; }
.front-page-content-modern-section > hr		{ border-top: 2px solid black; }
.front-page-content-modern-title			{ text-transform: uppercase; font-size: 30px; padding-top: 20px; }
.front-page-content-modern-content			{ background-image: url("../images/front-page/bh.png"); background-repeat: no-repeat; background-position: center; }
.front-page-content-modern-title > hr		{ border-top: 4px solid black; }
.front-page-content-modern-title > h2		{ display: block; margin-top: 0px; font-family: Montserrat-Light; }
.front-page-content-modern-title > h2:nth-child(2) 	{ font-weight: bold; }
.front-page-content-modern-text				{ padding-top: 10px; font-family: Open Sans; }
.front-page-content-modern-links			{ font-size: 24px; padding-top: 20px; }
.front-page-content-modern-links > span:first-child  	{ display: inline-block;color: #adc214; font-family: Montserrat-Light; width: 50%; }
.front-page-content-modern-links > span:last-child 		{ display: block; font-family: Montserrat-Light; }
.front-page-content-modern-links > span:last-child  > a	{ color: #9c9a99; }
.front-page-content-modern-links > span > hr 			{ border-top: 1px solid black; }
#verticalLineUp			{ height: 100%; width: 2px; background-color: black; position: absolute; top: -20px; }
#verticalLineDown		{ position: absolute }
#verticalLineDown > div	{ width: 2px; background-color: black; position: relative; left: 40px; }

.front-page-content-communities-section		{ min-height: 400px; overflow: auto; }
.front-page-content-communities-section > hr	{ border-top: 4px solid black; }
.front-page-content-communities-title		{ text-transform: uppercase; font-size: 30px; padding-top: 20px; text-align: center; font-family: Montserrat-Light; }	
.front-page-content-communities-text		{ font-family: Open Sans; }
.front-page-content-communities-links		{ padding-left: 40px; text-align: center; }
.front-page-content-communities-links
	> div.color-back-light-red:hover		{ background-color: #d34122}
.front-page-content-communities-links
	> div.color-back-light-green:hover		{ background-color: #adc214}
.front-page-content-communities-links
	> div.color-back-light-gray:hover		{ background-color: #9c9a99}
.front-page-content-communities-links > hr	{ border-top: 2px solid black; }

#commVerticalLineUp							{ height: 100%; width: 2px; background-color: black; position: absolute; }

.front-page-explore-section					{ margin-bottom: 40px; margin-top: 10px; }
.front-page-explore-section	> img			{ max-width: 100%; display: block; margin: auto; }

.front-page-featured-section				{ min-height: 400px; }
.front-page-featured-section > hr			{ border-top: 4px solid black; margin-bottom: 30px; }
.front-page-featured-section > hr			{ border-top: 4px solid black; margin-bottom: 30px; }
.front-page-featured-section-bootom-line	{ border-top: 2px solid black !important; width: 100%; margin-bottom: 0px !important; margin-top: 30px; display: inline-block; }
.front-page-featured-title					{ text-transform: uppercase; font-size: 30px; padding-top: 20px; text-align:center; }
.front-page-featured-item					{ margin-top: 20px; }
.front-page-featured-item > p				{ font-size: 22px; }
.front-page-featured-item > hr				{ border-top: 2px solid black; margin-top: 10px; }
.front-page-featured-item-name				{ text-transform: uppercase; }	
.front-page-featured-item-description		{ color: #9c9a99; }
.front-page-featured-item-image				{ width:100%; height:520px; margin: 30px 0px; overflow: hidden; }
.front-page-featured-item-image > img		{ width:100%; }
.front-page-featured-item-image-text		{ position: absolute; bottom: 0px; overflow: hidden; height: 100px; z-index: 1000; background-color: #ccc; font-size: 22px; text-align: center; padding-top: 30px; }
.front-page-featured-item-image-text > span	{ text-transform: uppercase; display: block; color: white }
.front-page-featured-item-image-text > a		{ display: inline-block; color: #d34122; text-decoration: none; }
.front-page-featured-item-image-text 
		> a:hover							{ color: black; }

/* #endregion Front Page */

/* #region Clifton & Coltman */

.clifton-content-section,
.coltman-content-section			{ display: inline-block; width: 100%; }
.clifton-content-title,			
.coltman-content-title				{ margin-bottom: 20px; margin-top: 5px; font-family: Montserrat-Light; }
.clifton-content-title > span,
.coltman-content-title > span		{ background-color: #43566f; color: white; padding: 0px 4px; }
.clifton-content-text,
.coltman-content-text				{ margin: 10px 0px; display: inline-block; font-family: Open Sans; }
.coltman-content-text				{ margin: 10px 0px; display: inline-block; font-family: Open Sans; }
.clifton-content-hrs,
.coltman-content-hrs				{ display: inline-block; margin: 20px 0px; }
.clifton-content-hrs > hr,
.coltman-content-hrs > hr			{ border-top: 2px solid #b4b9c1; width: 50%; float: left; }
.clifton-content-hrs > span,
.coltman-content-hrs > span			{ text-transform: uppercase; font-size: 16px; width: 100%; display: inline-block; float: left; font-family: Calibri; }

/* #endregion Clifton & Coltman */

/* #region Team */

.team-banner-section 				{ margin: 50px 0px; display: inline-block; font-family: Montserrat-Light; }
.team-banner-section > hr			{ border-top: 3px solid black; }
.team-banner-text					{ font-size: 18px; font-family: Open Sans; }

.team-members-container				{ display: inline-block; }
.team-members-item					{ margin-bottom: 30px; }
.team-members-item-image			{ width: 100%; overflow: hidden; margin-bottom: 10px; display: inline-block; }
.team-members-item-image > img		{ width: 100%; }
.team-memeber-item-name,
.team-memeber-item-position,
.team-memeber-item-bio				{ margin: 15px 0px; text-align: center; text-transform: uppercase; }
.team-memeber-item-name				{ font-size: 18px; font-weight: bold; font-family: Montserrat-Light; }
.team-memeber-item-position			{ font-size: 14px; color: #ccc7c4; font-family: Montserrat-Light; }
.team-memeber-item-bio				{ font-size: 18px; margin: 25px 0px; font-family: Montserrat-Light; }
.team-memeber-item-bio > a			{ color: #adc214; text-decoration: none; }
.team-memeber-item-links 			{ text-align: center; margin-top: 10px; }
.team-memeber-item-links > a 		{ text-decoration: none; }
.team-memeber-item-links > a > img	{ height: 20px; margin: 0px 10px; }

#teamVerticalLine					{ height: 100%; width: 1px; background-color: black; position: absolute; left: -15px; }

/* #endregion Team */

/* #region Customization */

.customization-banner-section 				{ margin: 50px 0px; display: inline-block; }
.customization-banner-section > hr			{ border-top: 3px solid black; }
.customization-banner-section > h2 			{ word-break: break-word; font-family: Montserrat-Light; }			
.customization-banner-section > h2 > span 	{ color: white; padding: 3px 10px; display: inline-block; }			
.customization-banner-text					{ font-size: 16px; display: inline-block; margin-top: 20px; font-family: Open Sans; }

.customization-content-section 				{ margin: 50px 0px; display: inline-block; width: 100%; font-family: Montserrat-Light; }
.customization-content-section > h2 > span 	{ color: white; padding: 3px 6px; padding-left: 50px; margin-right: 8px; display: inline-block; }			
.customization-content-section > hr			{ border-top: 2px solid black; }

.customization-content						{ display: inline-block; margin-top: 30px; }
.customization-content 
	> div.customization-content-item:nth-child(even)
	> div.customization-content-item-container{ float: left; }
.customization-content 
	> div.customization-content-item:nth-child(odd)
	> div.customization-content-item-container{ float: right; }
	
.customization-content-item					{ display: inline-block; width: 100%; }
.customization-content-item-id				{ color: red; font-size: 40px; background-color: white; text-align: center; height: 60px; }
.customization-content-item-container		{ margin-top: -60px; display: inline-block; }
.customization-content-item-container > h3,
.customization-content-item-container > span { width: 80%; display: inline-block; }
.customization-content-item-container > hr	{ border-top: 2px solid black; }
.customization-content-item-container > span { font-family: Open Sans; }

#customVerticalLine							{ height: 100%; width: 1px; background-color: black; position: absolute; left: 50%; right: 50%; top: -50px; z-index: -1; }

/* #endregion Customization */

/* #region Contact */

.contact-content-section					{ display: inline-block; width: 100%; margin-top: 50px; }
.contact-content-left-border-container		{ position:absolute; width: 20px; height:140px; }
.contact-content-right-container			{ float: left; display: inline-block; padding-left: 40px; padding-right: 30px; width: 100%; font-family: Montserrat-Light; }
.contact-content-right-container > h2		{ margin-top: 0px; }
.contact-content-right-container > hr		{ border-top: 3px solid black; width: 100%; margin-bottom: 30px; }
.contact-form								{ padding: 10px 0px; padding-right: 10px; float: left; padding-left: 0px; }
.contact-form > input[type="text"]			{ border: 0px; width: 100%; letter-spacing: 4px; }
.contact-form > hr							{ border-top: 1px solid #ccc; width: 50%; float: left; display: inline-block; }
hr.contact-form-wide-hr						{ width: 100% !important;  }
.contact-form > button						{ border: 0px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; background-color: white; color: #9c9a99; padding: 12px 24px; margin-top: 20px; letter-spacing: 4px; }
.contact-social-links						{ float: left; padding: 10px 0px; }
.contact-social-links-image					{ width: 50%; float: left; }
.contact-social-links-central-image			{ position: absolute; left: 31%; top: 31%; width:38% }					
.contact-general-info						{ padding: 10px 0px; font-size: 18px; font-family: Montserrat-Light; }
.contact-general-info-item-delimiter		{ padding: 0px 10px; font-size: 22px; }

/* #endregion Contact */

/* #region About */

.about-banner-section						{ display: inline-block; margin: 20px 0px; font-family: Montserrat-Light; }
.about-banner-section > hr					{ border-top: 3px solid black; width: 100%; }
.about-title-border							{ height: 100px; width: 15px; }

.about-title-small-section					{ display: inline-block; width:100%; }
.about-title-small-content					{ width: 70%; margin-left: 15px; margin-top: 50px }
.about-title-small-content > h2				{ margin-top: 75px; display: inline-block; font-family: Montserrat-Light; }
.about-title-small-content > span			{ display: inline-block; font-family: Open Sans; }

.about-title-big-section					{ display: inline-block; width: 100%; }
.about-title-big-section 
	> .about-title-border					{ width: 20px; }
.about-title-big-section > h1				{ display: inline-block; margin-top: 55px; padding: 5px; width: 50%; text-align: right; font-family: Montserrat-Light; }
.about-title-big-section > hr				{ border-top: 2px solid black; width: 66%; margin-top: 0px; }

.about-content-section						{ display: inline-block; margin: 20px 0px; }
.about-content-item							{ width: 100%; display: inline-block; margin-bottom: 20px; }
.about-content-item-left					{ display: inline; width: 33%; float: left; }
.about-content-item-right					{ display: inline; width: 64%; float: left; }
.about-content-item-right-text				{ display: inline-block; width: 100%; }
.about-content-item-right-text > span		{ display: inline-block; width: 80%; float: left; font-family: Open Sans; }	
.about-content-item-title					{ display: inline-block; padding: 6px; color: white; margin-bottom: 20px; font-family: Montserrat-Light; }
.about-content-item-title-extension			{ width: 100% }

#aboutVerticalLine							{ width: 1px; background-color: black; position: absolute; margin-left: -10px; margin-top: -50px; }

/* #endregion About */

/* #region Eleven River */

.e-river-banner								{ width: 100%; max-height: 600px; display: inline-block; margin-top: 40px; margin-bottom: 20px; overflow: hidden; }
.e-river-banner > img						{ width: 100%; }

.e-river-title-section						{ display: inline-block; width: 100%; font-family: Montserrat-Light; } 
.e-river-title-section > h1					{ display: inline-block; margin-top: -5px; margin-bottom: 0px; padding: 10px; max-width: 200px; }
.e-river-title-hr							{ border-top: 3px solid black; margin-top: 15px; margin-left: 25px; margin-right: 15px; }
.e-river-title-border						{ height: 110px; width: 15px; }

.e-river-content-section					{ width: 100%; display: inline-block; }
.e-river-content-left						{ display: inline-block; overflow: hidden; }
.e-river-content-left > img					{ max-height: 100%; padding-bottom: 20px; display: inline-block; }
.e-river-content-right						{ display: inline-block; padding-left: 7%; }
.e-river-content-right-title				{ width: 100%; margin: 20px 0px; }
.e-river-content-right-title-colored		{ color: white; }
.e-river-content-right-title > div > h3		{ margin: 0px; padding: 5px; font-family: Montserrat-Light; }	
.e-river-content-right-text					{ width: 100%; display: inline-block; margin: 20px 0px; white-space: pre-line; font-family: Open Sans; }
.e-river-content-right-sold					{ width: 180px; font-family: Montserrat-Light; }
.e-river-content-right-sold	> hr			{ border-top: 2px solid black; width: 100%;  }

/* #endregion Eleven River */

/* #region Browstone */

.browstone-banner							{ width: 100%; max-height: 600px; display: inline-block; margin: 40px 0px; padding: 0px 30px; overflow: hidden; }
.browstone-banner > img						{ width: 100%; }

.browstone-title-section					{ display: inline-block; width: 100%; margin-bottom: 20px; font-family: Montserrat-Light; }
.browstone-title-section > h1,
.browstone-title-section > h3				{ display: inline-block; margin-top: -5px; margin-bottom: 0px; padding: 10px; max-width: 350px; text-align: right; }
.browstone-title-section > hr				{ border-top: 2px solid black; max-width: 100%; margin-top: 0px; margin-right: 15px;}
.browstone-title-border						{ height: 150px; width: 15px; }

.browstone-content-section					{ width: 100%; display: inline-block; margin: 30px 0px; }
.browstone-content-right					{ display: inline-block; overflow: hidden; padding: 0px; }
.browstone-content-right > img				{ width: 100%; padding-top: 20px; display: inline-block; }
.browstone-content-left						{ display: inline-block; }
.browstone-content-left-title				{ width: 100%; margin: 20px 0px; font-family: Montserrat-Light; }
.browstone-content-left-title				{ width: 100%; margin: 20px 0px; font-family: Montserrat-Light; }
.browstone-content-left-title > h3 > span	{ padding-left: 30px; color: white; }
.browstone-content-left-text-container		{ padding-left: 0px; }
.browstone-content-left-text-container > h3	{ margin-bottom: 0px; font-family: Montserrat-Light; }
.browstone-content-left-text				{ width: 100%; display: inline-block; margin-bottom: 20px; white-space: pre-line; font-family: Open Sans; }
.browstone-content-left-sold				{ width: 180px; }
.browstone-content-left-sold	> hr		{ border-top: 2px solid black; width: 100%; }

#browstoneVerticalLine						{ width: 2px; background-color: black; position: absolute; margin-left: -30px; }

/* #endregion Browstone */

/* #region Charitable */

.charitable-title-section						{ display: inline-block; width: 100%; margin: 30px 0px; }
.charitable-title-content > h1					{ display: inline-block; margin-top: -5px; margin-bottom: 0px; padding: 10px 0px; max-width: 700px; font-family: Montserrat-Light; }
.charitable-title-border						{ height: 110px; width: 15px; position: absolute; }
.charitable-title-content						{ display: inline-block; width: 100%; padding-left: 50px; }
.charitable-title-text							{ width: 100%; display: inline-block; margin-bottom: 20px; white-space: pre-line; font-size: 16px; font-family: Open Sans; }

.charitable-content-section						{ display: inline-block; width: 100%; margin: 20px 0px; }
.charitable-content-item						{ display: inline-block; }
.charitable-content-item > img					{ display: inline-block; width: 100%; }

#charitableVerticalLine							{ width: 2px; background-color: black; position: absolute; margin-left: -20px; }

/* #endregion Charitable */

/* #region Communities */

.communities-title-section						{ display: inline-block; width: 100%; }
.communities-title-section > hr					{ border-top: 4px solid black; width: 96%; display: inline-block; }
.communities-title-section-left	> h2			{ padding: 2px; padding-bottom: 4px; }				
.communities-title-section-left,
.communities-title-section-right				{ padding: 0px; margin-bottom: 10px; font-family: Montserrat-Light; }
.communities-title-section-left > h2 > span		{ display: inline-block; width: 100%; }
.communities-title-colored						{ color: white; display: inline-block; padding: 2px; padding-bottom: 4px; }

.communities-title-text-container				{ display: inline-block; font-family: open-sans; font-size: 16px; }
.communities-title-text							{ font-family: Open Sans; }
.communities-title-content						{ padding-left: 20px; }
.communities-title-content > span				{ display: inline-block; width: 70%; }

.communities-side-title							{ display: inline-block; width: 100%; text-align: right;}
.communities-title-border						{ height: 100px; width: 15px; }
.communities-side-title > h1						{ margin-top: 65px; margin-left: 10px; font-family: Montserrat-Light; }

.communities-filters-section					{ min-height: 100px; width:100%; display: inline-block; text-align: center; overflow: auto; padding-top: 20px; margin-top: 40px;}
.communities-filters-section > a					{ display: inline-block; margin: 10px 20px; color: black; text-decoration: none; }
.communities-filters-section > a.active			{ color: #d34122; }
.communities-filters-section > a > h3			{ margin: 5px 20px; font-family: Montserrat-Light;  }
.communities-filters-all						{ border: 1px solid #d34122; }

.communities-banner-section,					
.communities-upcoming-section,
.communities-results-section					{ display: inline-block; width: 100%; margin-top: 40px; }
.communities-banner-item,
.communities-upcoming-item,
.communities-results-item						{ margin-bottom: 10px; }
.communities-banner-item-image,
.communities-upcoming-item-image,
.communities-results-item-image					{ width: 100%; overflow: hidden; margin-bottom: 10px; display: inline-block; }
.communities-banner-item-image > img,
.communities-upcoming-item-image > img,
.communities-results-item-image > img			{ width: 100%; }

.communities-filters-register-button			{ display: inline-block; margin-bottom: 30px; border: 1px solid #d34122; color: #d34122; float: right; text-decoration: none; }
.communities-filters-register-button:hover		{ text-decoration: none; color: #d34122; }
.communities-filters-register-button > h3		{ margin: 5px 20px }

.communities-results-item-image:hover > div 		{ opacity: 0.9 }
.communities-results-item-image > div			{ display: inline-block; color: white; opacity: 0; width: 100%; position: absolute; bottom: 15px; padding: 10px; text-align: center; font-family: open-sans; transition:opacity 250ms ease-in; left: 15px; }
.communities-results-item-image > div > span		{ display: inline-block; width: 100%; }
.communities-results-item-image > div > h4		{ display: inline-block; width: 100%; text-transform: uppercase; }

.communities-upcoming-span-first				{ position: absolute; padding: 5px; padding-left: 20px; bottom: 80px; background-color: #adc214; color: white; width: 200px; max-width: 100%; font-size: 20px; }
.communities-upcoming-span-second				{ position: absolute; padding: 3px; padding-left: 20px; bottom: 30px; background-color: white; width: 180px; max-width: 100%; font-size: 18px; }

#communitiesVerticalLine						{ width: 1px; background-color: black; position: absolute; left: 0; }

/* #endregion Communities */

/* #region Live Smarter */

.live-smarter-video-conteiner					{ display: inline-block; width: 100%; max-height: 530px; margin: 20px 0px; }
.live-smarter-video-text						{ display: inline-block; width: 100%; text-align: center; margin-top: 20px; font-family: Montserrat-Light; }
.live-smarter-video-text > span					{ display: inline-block; margin: 10px 20px; color: black; font-family: open-sans; }
.live-smarter-video-text > span	> h3			{ margin: 0px 5px; color: black; }

.live-smarter-title-section						{ display: inline-block; width: 100%; margin-top: 40px; float: left; padding-left: 50px; }
.live-smarter-title-hr-short					{ border-top: 3px solid black; width: 100px; float: left; margin: 0px; margin-left: -50px; }
.live-smarter-title-section > h2					{ max-width: 200px; font-family: Montserrat-Light; }
.live-smarter-title-section > h2	 > span			{ display: inline-block; }
.live-smarter-title-content						{ display: inline-block; width: 80%; float: left; font-family: Open Sans; }
.live-smarter-title-content > hr					{ border-top: 3px solid black; width: 100%; margin-top: 0px; }

.live-smarter-side-title-section				{ display: inline-block; width: 100%; text-align: right; }
.live-smarter-side-title-section > h1			{ display: inline-block; margin-top: 100px; margin-bottom: 0px; padding: 10px; max-width: 600px; font-family: Montserrat-Light; }
.live-smarter-side-title-border					{ height: 150px; width: 15px; }

.live-smarter-content							{ display: inline-block; padding-top: 90px; padding-bottom: 50px; padding-left: 10px; }
.live-smarter-side-border						{ height: 150px; width: 15px; position: absolute; top: -90px; left: -10px; }
.live-smarter-side-border:nth-child(2)			{ top: 250px;}
.live-smarter-side-border:nth-child(3)			{ top: 550px;}
.live-smarter-content-left						{ display: inline-block; }
.live-smarter-content-text-item					{ display: inline-block; width: 100%; float: left; width: 90%; }			
.live-smarter-content-text-item > h3				{ display: inline-block; margin-bottom: 0px; padding: 10px; max-width: 200px; font-family: Montserrat-Light; }			
.live-smarter-content-text-item > ul				{ list-style-type: square; font-family: Open Sans;  }
.live-smarter-content-right						{ display: inline-block; }
.live-smarter-content-right > img				{ width: 100%; }
.live-smarter-content-right-mask-first,
.live-smarter-content-right-mask-second,
.live-smarter-content-right-mask-third			{ display: inline-block; height: 30px; width: 100%; position: absolute; background-color: white; top: 0; right: 0; }

video { 
    width: 100%;
    z-index: -100;
	background-size: cover;
	transition: 1s opacity;
}

/* #endregion Live Smarter */

/* #region Media */

.media-title-section				{ display: inline-block; width: 100%; text-align: center; margin-top: 30px; }
.media-title-section > hr			{ border-top: 3px solid black; width: 100%; }

.media-images-section				{ display: inline-block; width: 100%; margin-top: 20px; }
.media-images-item					{ margin-bottom: 10px; }
.media-images-item-image			{ width: 100%; overflow: hidden; margin-bottom: 10px; display: inline-block; }
.media-images-item-image > img		{ width: 100%; }

.box_holder 							{ position: relative; }
.box_holder .front, 
.box_holder .back 					{ position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; transition: 1s; backface-visibility: hidden; }
.box_holder .back 					{ transform: rotateY(180deg); text-align: center; display:table; }
.box_holder .back-content			{ display: table-cell; vertical-align: middle; }
.box_holder .back-content > h4		{ padding: 10px 0px; }
.box_holder .back-content > span		{ padding: 10px 0px; display: inline-block; width: 100%; }
.box_holder .back-content > a		{ padding: 10px 20px; display: inline-block; margin-top: 20px; color: white; text-decoration: none; }
.box_holder.show_info .back 			{ transform: rotateY(0deg); }
.box_holder.show_info .front 		{ transform: rotateY(-180deg); }

.media-awards-section				{ display: inline-block; width: 100%; text-align: left; }
.media-awards-section > hr			{ border-top: 3px solid black; width: 100%; }
.media-awards-section > h1			{ display: inline-block; margin-top: 0px; margin-bottom: 0px; padding: 10px; max-width: 300px; }
.media-awards-border				{ height: 100px; width: 20px; }

.media-images-section				{ display: inline-block; width: 100%; margin-top: 20px; }
.media-images-item					{ margin-bottom: 10px; }
.media-images-item-image			{ width: 100%; overflow: hidden; margin-bottom: 10px; display: inline-block; }
.media-images-item-image > img		{ width: 100%; }

.media-text-section					{ display: inline-block; font-family: open-sans; float: left; }
.media-text-item					{ display: inline-block; width: 100%; margin-bottom: 10px; }	
.media-text-item > span:first-child 	{ display: inline-block; width: 100%; font-size: 16px; text-transform: uppercase; }	
.media-text-item > span:second-child { display: inline-block; width: 100%; font-size: 14px; }	

/* #endregion Media */

/* #region News */

.news-title-section					{ display: inline-block; width: 100%; margin-top: 20px; }
.news-title-section	> h2			{ display: inline-block; width: 100%; color: white; text-align: center; padding:5px 0px; }

.news-content-section				{ display: inline-block; width: 100%; padding: 15px 25px; margin-top: 20px; }
.news-content-item					{ display: inline-block; background-color: white; padding: 0px; border: 10px solid #9c9a99; height: 425px; overflow: hidden; }
.news-content-item-text-container	{ display: inline-block; width: 100%; height: 245px; font-family: Montserrat-Light; }
.news-content-item-title			{ display: inline-block; margin: 10px 20px; text-transform: uppercase; margin-bottom: 0px; height: 90px; }
.news-content-item-text				{ display: inline-block; margin: 10px 20px; margin-bottom: 0px; height: 80px; }
.news-content-item-text > span		{ display: inline-block; font-family: Open Sans; }
.news-content-item-read-more		{ display: inline-block; margin: 10px 20px; font-size: 18px; }
.news-content-item-image			{ display: inline-block; width: 100%; height: 180px; }
.news-content-item-image > img		{ display: inline-block; width: 100%; }

/* #endregion News */

/* #region Bios */

.bios-content-section				{ display: inline-block; width: 100%; }
.bios-members-item					{ margin-bottom: 30px; margin-top: 20px; }
.bios-members-item-image			{ width: 100%; overflow: hidden; margin-bottom: 10px; display: inline-block; }
.bios-members-item-image > img		{ width: 100%; }
.bios-memeber-item-name,
.bios-memeber-item-position			{ margin: 15px 0px; text-align: center; text-transform: uppercase; }
.bios-memeber-item-name				{ font-size: 18px; font-weight: bold; font-family: Montserrat-Light; }
.bios-memeber-item-position			{ font-size: 14px; color: #ccc7c4; font-family: Montserrat-Light; }
.bios-memeber-item-links 			{ text-align: center; margin-top: 30px; }
.bios-memeber-item-links > a 		{ text-decoration: none; }
.bios-memeber-item-links > a > img	{ height: 20px; margin: 0px 10px; }
.bios-members-text					{ padding-left: 25px; display: inline-block; white-space: pre-line; font-size: 16px; }

/* #endregion Bios */















